{%extends "base.html"%}

{%block title%}
Index
{%endblock%}

{%block content%}

<div class="col d-grid gap-5 d-flex justify-content-center ">
<div class="card " style="width: 16rem;">
  <img src="https://store-images.s-microsoft.com/image/apps.39852.14455250034361967.824623c3-91b6-402f-9a68-c66bfac9bc20.7bfae929-5b2a-4efe-9639-5ffd1e2de297?q=90&w=480&h=270" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">User-1</h5>
    <p class="card-text">Click Here to check the measure of user-1.</p>
    <a href="user1" class="btn btn-primary">Measure User-1</a>
  </div>
</div>
<div class="card " style="width: 16rem;">
  <img src="https://cdn-www.comingsoon.net/assets/uploads/2022/08/super-hero-vegeta-header.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">User-2</h5>
    <p class="card-text">Click Here to check the measure of user-2.</p>
    <a href="/user2" class="btn btn-primary">Measure User-2</a>
  </div>
</div>
    </div>


{%endblock%}
