{% extends "base.html"%}

{%block title%}Home{%endblock%}

{%block content%}
<h1>Data of User-2</h1>

<div>
  <canvas id="myChart-2" width="900" height="400"></canvas>
</div>

<script>
  const ctx = document.getElementById('myChart-2');
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Measure-1', 'Measure-2', 'Measure-3', 'Measure-4', 'Measure-5', 'Measure-6'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      responsive: false
    }
  });
</script>


<a href="{{url_for('index')}}">Index Page</a>
{%endblock%}