
{% extends "base.html" %}
{% block app_content %}

<!doctype html>
<html lang="en">
 <head>
   <meta charset="utf-8">
 </head>
 <body>
   <div>
     <canvas id="myChart" width="900" height="400"></canvas>
   </div>
   <meta name="userList" content="{{listOfUsers}}">
   <meta name="avgFrqList" content="{{listOfAvgFrq}}">
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  var data1 = document.getElementsByName('userList')[0].content
  var data2 = document.getElementsByName('avgFrqList')[0].content

  console.log(data1)
  console.log(data2)

  data1 = data1.replace(" ", "");
  data1 = data1.replace("{", "");
  data1 = data1.replace("}", "");

  var splitData1 = data1.split(",")

  console.log(splitData1)


  data2 = data2.replace(" ", "");
  data2 = data2.replace("{", "");
  data2 = data2.replace("}", "");

  var splitData2 = data2.split(",")

  console.log(splitData2)

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: splitData1,
      datasets: [{
        label: '# of Votes',
        data: splitData2,
        borderWidth: 1
      }]
    },
    options: {
      responsive: true
    }
  });
</script>

 </body>
</html> 
{% endblock %}