
{% extends "base.html" %}
{% block app_content %}

<!doctype html>
<html lang="en">
 <head>
   <meta charset="utf-8">
 </head>
 <body>
   <div>
     <canvas id="myChart3" width="1000" height="500"></canvas>
   </div>
   <meta name="userList" content="{{listOfUsers}}">
   <meta name="totalComList" content="{{listOfComTotal}}">
   <meta name="avgFrqList" content="{{listOfAvgFrq}}">
   <meta name="mostCommitsList" content="{{listOfMostCommits}}">
   <meta name="leastCommitsList" content="{{listOfLeastCommits}}">
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ftx = document.getElementById('myChart3');

  var listOfUsers = document.getElementsByName('userList')[0].content
  var totalComList = document.getElementsByName('totalComList')[0].content
  var listOfAvgFrq = document.getElementsByName('avgFrqList')[0].content
  var listOfMostCommits = document.getElementsByName('mostCommitsList')[0].content
  var listOfLeastCommits = document.getElementsByName('leastCommitsList')[0].content

  listOfUsers = listOfUsers.replace("[", "");
  listOfUsers = listOfUsers.replace("]", "");
  var splitDataOflistOfUsers = listOfUsers.split(",")
  console.log("splitDataOflistOfUsere: " + splitDataOflistOfUsers)

  totalComList = totalComList.replace("[", "");
  totalComList = totalComList.replace("]", "");
  var splitDataOfTotalComList = totalComList.split(",")
  console.log("splitDataOfTotalComList: " + splitDataOfTotalComList)

  listOfAvgFrq = listOfAvgFrq.replace("[", "");
  listOfAvgFrq = listOfAvgFrq.replace("]", "");
  var splitDataOflistOfAvgFrq = listOfAvgFrq.split(",")
  console.log("splitDataOflistOfAvgFrq: " + splitDataOflistOfAvgFrq)

  listOfMostCommits = listOfMostCommits.replace("[", "");
  listOfMostCommits = listOfMostCommits.replace("]", "");
  var splitDataOflistOfMostCommits = listOfMostCommits.split(",")
  console.log("listOfMostCommits: " + splitDataOflistOfMostCommits)

  listOfLeastCommits = listOfLeastCommits.replace("[", "");
  listOfLeastCommits = listOfLeastCommits.replace("]", "");
  var splitDataOflistOfLeastCommits = listOfLeastCommits.split(",")
  console.log("listOfLeastCommits: " + splitDataOflistOfLeastCommits)

  new Chart(ftx, {
    data: {
        datasets: [{
          type: 'bar',
          label: 'Total Commits',
          data: splitDataOfTotalComList,
        }, {
          type: 'bar',
          label: 'Average Frequency',
          data: splitDataOflistOfAvgFrq,
        }, {
          type: 'bar',
          label: 'Most Commits',
          data: splitDataOflistOfMostCommits,
        }, {
          type: 'bar',
          label: 'Least Commits',
          data: splitDataOflistOfLeastCommits,
        }
      ],
        labels: splitDataOflistOfUsers
    },
    options: {
      responsive: true
    }
});
</script>

 </body>
</html> 
{% endblock %}