{% extends "base.html" %}

{% block app_content %}

<div style="color:aliceblue">

<h2>{{ _('Hello, %(username)s!  ', username=current_user.username) }}<img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/sony/336/waving-hand_1f44b.png" class="img-fluid; max-width:50%; max-height:50%;" alt="..."></h2>
<style>


      /*Use height property to set equil card height*/
      .card {
          background-color: rgb(35, 34, 34);
          margin: 10px !important;
          height: 60vh;
          width: auto;
      }
  </style>
<form action="" method="post">
        <label for="owner">owner:</label>
        <input type="text" id="owner" name="owner" placeholder="owner">
        <label for="reponame">RepoName:</label>
        <input type="text" id="reponame" name="reponame" placeholder="reponame">
        <label for="branchname">Branchname:</label>
        <input type="text" id="branchname" name="branchname" placeholder="branchname">
        <button type="submit">Submit</button>
    </form>
<body style="background-color:rgb(35, 34, 34)" >
<div class="row">
<div class="col d-grid gap-5 d-flex justify-content-center ">

<div class="card " style="width: 16rem; background-color:rgb(59, 58, 57); color:aliceblue">
  <img src="https://thumbs.dreamstime.com/b/abstract-business-chart-uptrend-line-graph-bar-chart-arrows-stock-market-gradient-gray-color-background-93750993.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" >Frequency of commits</h5>
    <p class="card-text">Showcases the frequency of commits of all the users.</p>
    <a href="/FOC" class="btn btn-outline-success">View</a>
  </div>
</div>
<div class="card " style="width: 16rem; background-color:rgb(59, 58, 57); color:aliceblue">
  <img src="https://www.tableau.com/sites/default/files/2021-06/DataGlossary_Icons_Pie%20Chart.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Size of commits</h5>
    <p class="card-text">Showcases the size of commits of all the users.</p>
    <a href="/SOC" class="btn btn-outline-success">View</a>
  </div>
</div>
    <div class="card " style="width: 16rem; background-color:rgb(59, 58, 57); color:aliceblue">
  <img src="https://media.istockphoto.com/id/1318098229/photo/rising-graph-for-growth-success-3d-rendering.jpg?b=1&s=612x612&w=0&k=20&c=wWIIN4KRpe9t7LShI7u2hfJzuokmLrN9RnxZN5CYgXw=" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lines of code</h5>
    <p class="card-text">Showcases the lines of code at the project's end.</p>
    <a href="/LOC" class="btn btn-outline-success">View</a>
  </div>
</div>

 <div class="card " style="width: 16rem; background-color:rgb(59, 58, 57); color:aliceblue">
  <img src="https://images.ctfassets.net/pdf29us7flmy/4EBW68JQ7t45zRNmlN1i9o/73a3b640c79e09ac9069b7f26c81a6e7/GOLD-6487-CareerGuide-Batch04-Images-GraphCharts-09-Gantt.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Code Complexity</h5>
    <p class="card-text">Showcases the Code Complexity.</p>
    <a href="/CC" class="btn btn-outline-success">View</a>
  </div>
</div>
</div>
</div>
</body>
    
{% endblock %}